<!DOCTYPE html>
<html>
    <head>
        <title>Hola mundo!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%= mensaje %></h1>
    </body>
</html>