<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Préctica de rutas</title>
</head>

<body>
    <ul>
        <li>
            <a href="about">Acerca de...</a>
        </li>
        <li>
            <a href="weather">Clima</a>
        </li>
        <li>
            <a href="bienvenida/octavio">Bienvenida</a>
        </li>
    </ul>
</body>

</html>