<% include _header %>

<h1>Log in</h1>
<form action="/login" method="post">
    <div class="form-group">
        <input name="username" type="text" class="form-control" placeholder="Nombre de usuario" required autofocus />
    </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Contraseña" required />
    </div>
    <input type="submit" value="Entrar" class="btn btn-primary btn-block" />
</form>

<% include _footer%>