<div class="mb-12 card text-white card-body bg-danger">
    <h1>404 Página no encontrada!</h1>
    <ul>
        <li>La url que ingresó no es válida.</li>
        <li>El archivo que buscabas no está</li>
        <li>La página no existe</li>
        <li>Etc...</li>
    </ul>
</div>