<% include header %>

<h1>¿Cuál es tu código postal?</h1>
<form class="pure-form">
  <fieldset>
    <input type="number" name="zip" placeholder="12345" autofocus required>
    <input type="submit" class="pure-button pure-button-primary" value="Go">
  </fieldset>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<% include footer %>