<div class="modal fade" id="modal" #modal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar zombie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="position-relative form-group">
                    <label for="nombre" class="">Nombre</label>
                    <input [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="Nombre" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="email" class="">Email</label>
                    <input [(ngModel)]="email" name="email" id="email" placeholder="Email" type="email" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="tipo" class="">Tipo</label>
                    <select [(ngModel)]="tipo" name="select" id="tipo" class="form-control form-control-sm">
                        <option>Alumno</option>
                        <option>Maestro</option>
                     </select>
                </div>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="agregarZombie()" #btnAgregar>Guardar cambios</button>
            </div>
        </div>
    </div>
</div>