<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header></app-header>
    <app-settings></app-settings>
    <div class="app-main">
        <app-sidemenu></app-sidemenu>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <app-title></app-title>
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
<modal-zombies></modal-zombies>
