<button 
    type="button" 
    class="btn mr-2 mb-2 btn-primary pull-right" 
    data-toggle="modal" 
    data-target="#modal">
    Agregar zombie
</button>
<table class="mb-0 table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zombie of zombies | async; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ zombie.name }}</td>
        <td>{{ zombie.email }}</td>
        <td>{{ zombie.type }}</td>
        <td>
            <button class="btn btn-warning btn-sm" data-target="#modal" data-toggle="modal" type="button"> Actualizar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminar(zombie._id)"> Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>


