<% include _header %>
    <div class="row container">
        <div class="col-md-12">
            <form action="new" method="POST">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="">Tipo</label>
                    <input type="text" class="form-control" name="type">
                </div>
                <% if(!(typeof (mensajeError) == 'undefined')) {%>
                    <div class="alert alert-danger">
                        <%= mensajeError %>
                    </div>
                    <% } %>
                        <% if(!(typeof (mensajeExito) == 'undefined')) {%>
                            <div class="alert alert-success">
                                <%= mensajeExito %>
                            </div>
                            <% } %>
                                <button class="btn btn-primary"><i class="fas fa-user-plus"></i> Nuevo zombie</button>
            </form>
        </div>
    </div>



    <% include _footer %>