<% include _header %>
    <div class="row container">
        <div class="col-md-12">
            <form action="/zombies/delete/<%= zombie.id%>?_method=DELETE" method="POST">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="name" value="<%= zombie.name %>" disabled>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" value="<%= zombie.email %>" disabled>
                </div>
                <div class="form-group">
                    <label for="">Tipo</label>
                    <input type="text" class="form-control" name="type" value="<%= zombie.type %>" disabled>
                </div>
                <% if(!(typeof (mensajeError) == 'undefined')) {%>
                    <div class="alert alert-danger">
                        <%= mensajeError %>
                    </div>
                    <% } %>
                        <% if(!(typeof (mensajeExito) == 'undefined')) {%>
                            <div class="alert alert-success">
                                <%= mensajeExito %>
                            </div>
                            <% } %>
                                <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar zombie</button>
            </form>
        </div>
    </div>



    <% include _footer %>